/* style.css */ 
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px;
}

button {
    background-color: #cccffc;
    color: #000000;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}

